*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 10px;
    font-size: 1.5em;
    background-color: rgb(240, 255, 254);
    color: rgb(23, 69, 63);
    font-weight: bold;
    text-align: center;
}
input,button{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
#result{
    margin-top: 20px;
    font-weight: bold;
    color: rgb(37, 51, 63);
}