*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}
input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;  
}
button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;  
    margin-left: 40px;
    background-color: aliceblue;
    border-radius: 5px;
}